.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 4.4rem 0;
}

.banner p {
    color: var(--caption);
    font-size: 1.8rem;
}

@media (max-width: 772px) {
    .banner {
        flex-direction: column;

        padding: 1rem;

        font-size: 1.4rem;
    }

    .banner p {
        font-size: 1.2rem;
    }

    .banner div {
        text-align: center;
    }

    .banner a {
        margin-top: 2rem;
    }
}